// Specific CSS for your home-page
.main-container{
  width: 100%;
  // height: calc(100vh - 120px);
  margin-bottom: 50px;
}

.padded-container{
  margin-top: 50px;
}

.home-page-text {
  padding-top: 250px;
}

