<div class="footer">
  <div class="footer-links">
    <a href="https://www.linkedin.com/in/george-s-ballard/"><i class="black fab fa-linkedin"></i></a>
    <a href="https://github.com/Ballardian" target="_blank"><i class="black fab fa-github"></i></a>
    <a href="https://www.instagram.com/beyoncebooty/"><i class="black fab fa-instagram"></i></a>
  </div>
</div>

