<div class="footer">
  <div class="footer-links">
    <a href="https://www.instagram.com/beyoncebooty/"><i class="fab fa-instagram"></i></a>
    <a href="https://github.com/Ballardian" target="_blank"><i class="fab fa-github"></i></a>
  </div>
</div>
