<%= render 'shared/black_navbar' %>
<div class="font-awsome-responsive">
  <div class="content-container">
    <div class="inner-content">
      <div class="text-box">
       <i class="fas fa-comments"></i>
        <h3 class="black"><strong>Contact me</strong></h3>
      </div>
    </div>
  </div>
</div>
<div class="container contact-container">
    <div class="fa-icon">
    <div class="black"><i class="fab fa-whatsapp"></i> +44 7804 233528</div>
    <div class="black"><i class="fas fa-at"></i> george.s.ballard@outlook.com</div>
    <br>
    <br>
    <br>
    <br>
    <div class="contact-page d-none d-md-block">
      <div class="home-body">
        <div class="card-product">
           <%= image_tag "profpic.jpg", class: "contact-img" %>
          <div class="card-product-infos">
            <i class="fas fa-quote-left black "></i>
              <p class="black">My first real brush with software development was on Uni - my dissertation was in The Biometric Identification of Endangered Species using C++; it was basically a Pokedex for Zebras (it is not as sexy as it sounds).  Since that point I have found myself continually pulled back into the world of programming - the syntax rage (the classic case of the missing semicolon), and the triumph of a successful compile.
              <br>
              I currently spend my time between client projects and personal projects. I should really find another hobby -  I suspect, among other reasons, that this is why I don’t have a girlfriend.
              <br>
              Until then it will just be me and Ruby (On Rails).</p>
              <p><strong>I don’t believe being efficient and informal should be mutually exclusive, so I’m looking for a team that laugh as much as I do.</strong>
              </p>
              <i class="fas fa-quote-right black"></i>
          </div>
        </div>
      </div>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
    </div>
    <div class="d-md-none">
        <div class="small-container">
          <%= image_tag "profpic.jpg", class: "contact-img" %><br><br>
          <i class="fas fa-quote-left black "></i>
             <p class="black">My first real brush with software development was in Uni - my dissertation was on The Biometric Identification of Endangered Species using C++; it was basically a Pokedex for Zebras (it is not as sexy as it sounds).  Since that point I have found myself continually pulled back into the world of programming - the syntax rage (the classic case of the missing semicolon), and the triumph of a successful compile.
            <br>
            I currently spend my time between client projects and personal projects. I should really find another hobby -  I suspect, among other reasons, that this is why I don’t have a girlfriend.
            <br>
            Until then it will just be me and Ruby (On Rails).</p>
            <p><strong>I don’t believe being efficient and informal should be mutually exclusive, so I’m looking for a team that laugh as much as I do.</strong>
            </p>
          <i class="fas fa-quote-right black"></i>
        </div>
    </div>
  </div>
</div>
<%= render 'shared/black_footer' %>
